In [1]:
import pandas as pd
import sklearn as sk
import keplergl

In [55]:
data = pd.read_csv("C:\\Users\\Yusuf\\Desktop\\GA-Tech\\CSE6242\\Project\\Kotomatic\\Kotomatic\\viz_df.csv")

In [2]:
data = pd.read_csv("viz_df2.csv")

In [69]:
data.head(5)

   Unnamed: 0  Seq        Lat        Lon                               vin
0           0   38  33.124920 -96.707811  0001556fa4a96efdfb0e6f9c079d2fa5
1           1   40  33.105293 -96.684018  0001556fa4a96efdfb0e6f9c079d2fa5
2           2   41  33.112107 -96.680864  0001556fa4a96efdfb0e6f9c079d2fa5
3           3   42  33.141374 -96.677020  0001556fa4a96efdfb0e6f9c079d2fa5
4           4   44  33.115048 -96.698311  0001556fa4a96efdfb0e6f9c079d2fa5

In [3]:
tl = [40.250580, -83.247525]
tr = [40.251652, -82.671814]
bl = [39.821981, -83.352838]
br = [39.804789, -82.633243]

In [4]:
data_ws = data[["Lat","Lon"]]
data_ws = data_ws[(data_ws["Lat"] < tl[0]) & (data_ws["Lat"] > bl[0])]
data_ws = data_ws[(data_ws["Lon"] > tl[1]) & (data_ws["Lon"] < tr[1])]

In [5]:
data_ws.shape

(10897, 2)

In [6]:
from sklearn.cluster import DBSCAN
import sklearn.utils

In [21]:
db = DBSCAN(eps=0.0011, min_samples=15)
#db = DBSCAN(eps=0.05, min_samples = 5)
mod = db.fit(data_ws)

In [22]:
data_ws["cluster_labels"] = db.labels_

In [23]:
len(set(db.labels_))

83

In [83]:
data_ws.head(10)

           Lat        Lon  cluster_labels
345  40.099993 -83.166000              -1
346  40.148652 -82.903962               0
347  40.100288 -83.166038              -1
348  40.148662 -82.903963               0
349  40.100182 -83.166707              -1
350  40.148659 -82.903959               0
351  40.058374 -82.915339              -1
352  39.922737 -82.835890              -1
353  40.148641 -82.903976               0
354  40.127683 -82.931680              -1

In [24]:
kepler_map = keplergl.KeplerGl(height=500)
kepler_map.add_data(data=data_ws, name="koto")

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [25]:
kepler_map

KeplerGl(data={'koto': {'index': [345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 3â€¦

In [2]:
import requests
import json

In [31]:
with open("C:\\Users\\Yusuf\\Desktop\\GA-Tech\\CSE6242\\Project\\Kotomatic\\Kotomatic\\plugshare.txt",'r') as f:
    plugshare_obj = f.read()

In [32]:
json_thing = json.loads(plugshare_obj)

In [94]:
for entry in json_thing:
    if entry['name'] == "AAA":
        print(entry)

{'score': 10.0, 'address': '90 E Wilson Bridge Rd, Worthington, OH 43085', 'access': 1, 'latitude': 40.109322, 'name': 'AAA', 'icon': 'https://assets.plugshare.com/icons/Y.png', 'id': 85488, 'stations': [{'network_id': 19, 'outlets': [{'kilowatts': 50.0, 'connector': 3, 'id': 710657, 'power': 0}, {'kilowatts': 50.0, 'connector': 13, 'id': 710656, 'power': 0}], 'id': 127495, 'promos': [{'id': 1}, {'id': 2}]}], 'promos': [{'id': 1}], 'url': 'http://api.plugshare.com/view/location/85488', 'longitude': -83.015686, 'icon_type': 'Y'}

In [95]:
for entry in json_thing:
    if entry['name'] == "Lincoln Pointe":
        print(entry)

{'score': 10.0, 'address': '40 Hutchinson Ave, Columbus, OH  43235, United States', 'access': 1, 'latitude': 40.114077, 'name': 'Lincoln Pointe', 'icon': 'https://assets.plugshare.com/icons/G.png', 'id': 206255, 'stations': [{'network_id': 1, 'outlets': [{'kilowatts': None, 'connector': 2, 'id': 813023, 'power': 0}, {'kilowatts': None, 'connector': 2, 'id': 813022, 'power': 0}], 'id': 439352, 'promos': [{'id': 2}]}], 'url': 'http://api.plugshare.com/view/location/206255', 'longitude': -83.013995, 'icon_type': 'G'}

In [33]:
empty_dict = {}
for entry in json_thing:
    empty_dict[entry['name']] = [entry['latitude'],entry['longitude']]

In [34]:
my_df = pd.DataFrame(empty_dict).transpose().reset_index().rename(columns = {'index':'name',0:'Lat',1:'Lon'})

In [35]:
my_df.head()

                          name        Lat        Lon
0      Grove City Supercharger  39.877385 -83.063379
1   Doubletree by Hilton Hotel  40.059949 -82.401124
2  Village of Somerset Offices  39.807450 -82.299962
3          Dublin Supercharger  40.093177 -83.092304
4  Dave Kehl Chevy Dealership   40.072975 -83.554714

In [86]:
kepler_map_2 = keplergl.KeplerGl(height=500)
kepler_map_2.add_data(data=my_df, name="plugshare")
kepler_map_2.add_data(data=data_ws,name="koto")

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [99]:
kepler_map_2

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [{'dataId': ['koto'], 'id': 'ru0p7v9z7', â€¦

In [104]:
kepler_map_2.save_to_html(data={"koto":data_ws,"plugshare":my_df},file_name="test.html")

Map saved to test.html!

In [105]:
my_df.to_csv("plugshare.csv")

In [106]:
data_ws.to_csv("data_ws.csv")